.orange-bg{
    
    background-color: #fceae8;
    border-radius: 20px;

}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:rgba(220, 20, 60, 0.774)
}
.container{margin-bottom: 80px;}
.catone, .cattwo, .catthree{padding: 10px 40px;border-radius: 10px;}
.catone{background-color: orangered;}
.cattwo{background-color: orchid;}
.catthree{background-color: cornflowerblue;}
.categories h1{color:white ;}
.categories img{width: 150px;}
.card{border: none;box-shadow: 10px 10px 10px lightslategray;border-radius: 10px;}
.card-footer{border-top: none;background-color: white;}
#subscribe{height: 300px;}
footer p{
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    color: lightslategray;
}